<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}

   <form action="/change_password" method="POST">
   <label for="password">password</label>
    <input type="password" name="password" id="password"><br><br>
    {% if (category== 'pswd') %}
        <div class="flash">{{ message }}</div>
        {% endif %}
    <label for="confirm">confirm</label>
    <input type="password" name="confirm" id="confirm"><br><br>
    {% if (category== 'confirm') %}
        <div class="flash">{{ message }}</div>
        {% endif %}
    <input type="submit" value="change password">
    {% endfor %}
    {% endwith %}
</body>
</html>
